textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.form__container {
  display: grid;
  grid-template-rows: auto auto;

  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.form__label {
  font-size: 16px;
  color: #dabb69;
  text-align: start;
  padding: 5px;
}

.form__input {
  font-size: 20px;
  color: white;
  padding: 5px;
  border: none;
  background-color: black;
}

.form__button {
  width: 80%;
  padding: 15px;
  margin: 10px;
  background-color: black;
  color: white;
  border: 1px solid #dabb69;
  border-radius: 5px;
  font-size: 18px;
  font-family: primary-font;
  transition: 500ms;
}

.form__button:hover {
  background-color: #dabb69;
  color: black;
  transition: 500ms;
  cursor: pointer;
}

/* mobile only */
@media (max-width: 600px) {
}

/* desktop */
@media (min-width: 600px) {
}
